.container{
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar gambolGaming rgbGeek tree"
    "sidebar rgbGeek tree gambolGaming"
    "sidebar tree gambolGaming rgbGeek"
    "sidebar gambolGaming rgbGeek tree"
}

nav{
  background: #a7ffeb;
  grid-area: nav;
}
