.container{
  display:grid;
  height:100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main content3 main"
    "sidebar content4 content5 content6"
    "sidebar content1 content2 content7"
}

nav{
  background: #a7ffeb;
  grid-area: nav;
}
